.nav-container{
  position: fixed;
  width: 100%;
  background: var(--color5);
}
.nav-container .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1400px;
    margin: 0 10em;
    height: 60px;
}
.nav-container .nav-content .logo{
    display: flex;
    align-items: center;
}
.nav-container .logo img{
   width: 40px;
}
.nav-container{
    font-size: 1.5em;
    color: var(--color2);
}
.nav-container .nav-content .ul-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
    position: relative;
    
}
.nav-container .nav-content .ul-items li a{
    margin: 20px;
    text-decoration: none;
    color: var(--color6);
    position: relative;
    font-size: 0.8em;
   

    
}
.nav-container .nav-content .ul-items li a::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 3px;
    bottom: -6px;
    opacity: 0;
    background: var(--color1);
    transition: 0.3s ease;
}
.nav-container .nav-content .ul-items li a:Hover::before{
    opacity: 1;
    width: 100%;
}


.languaje-buton{
    padding: 5px;
    background: var(--color1);
    cursor: pointer;
    border: 1px solid var(--color2);
    border-radius: 10px;
}
.nav-container .nav-content .fa-solid {
    display: none;
}
@media (max-width:1024px) {
    .nav-container .nav-content{
        margin: 0 5em;
        
    }  
}
@media (max-width: 768px) {
    .nav-container .nav-content{
        margin: 0;
        justify-content: center;

        
        
    } 
    .nav-container .nav-content .ul-items{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        height: 500px;
        top: 0;
        left: -100%;
        margin: 0;
        background: var(--color1);
        transition: 0.6s ease;
        
    }
    .nav-container .nav-content .ul-items.active{
        left: 0;
        
    }
    .nav-container .nav-content .fa-solid {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
        display: block;
    }
    .nav-container .nav-content .logo{
        text-align: center;
    }
}
@media (max-width: 426px) {
    .nav-container .nav-content .ul-items{
        width: 250px;
        
    }

}