@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akshar", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  scroll-behavior: smooth;
}
:root{
  --color1:#d8350e;
  --color2:#262626;
  --color3:#f1eadc;
  --color4:#ffabe7;
  --color5:#f9f4ea;
  --color6:#494949;
  --color7:#ffffff;
}